$personal:personal()$

<h1 class="unnumbered" id="experience">Experience</h1>
$experience:experience()$

<h1 class="unnumbered" id="experience">Education</h1>

$education.r:education()$

<p><br />
<em>Other education</em></p>

$education.o:education()$

<h1 class="unnumbered" id="experience">Skills</h1>

${ for(skills) }
\subsection*{${ skills.header }}

<!-- this is actually genius: lists can be "pasted" using [<sep>]. -->
\begin{tabular}[t]{ll}
  ${ for(skills.table) }
  ${ skills.table[ & ] }\\
  ${ endfor }
\end{tabular}

${ endfor }
